.button
	background none
	border none
	padding 10px
	height 40px
	width 100%
	cursor pointer
	font 1rem 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
	box-sizing border-box
	border-radius 3px

	&_theme_green
		background-color #6cb741
		color #fff
		&:hover
			background-color #67ae3e