.header
	height 40px
	z-index 100
	margin-bottom 150px


	&__bar
		fixed left top right
		background-color #4c4f53
		height 40px
		color #fff
		box-shadow 0 2px 3px rgba(0,0,0,.2)


	&__container
		max-width 1440px
		margin 0 auto
		padding 0 15px


	&__logo
		background-image url('/desktop.blocks/header/img/logotype.svg')
		background-size cover
		width 164px
		height 32px
		margin 2px .7em 0 0
		float left


	&__nav .link
		float left
		padding 11px
		margin-right 1px
		height 18px
		color #fff
		text-decoration none

		&:hover
			background-color #5b5f63