html
	&.js .only-no-js,
	&.no-js .only-js
		display none !important

html,
body
	height 100%

html
	font-size (14/16)em
	line-height 1.2
	font-family 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

body
	background-color #f6f5f3
	padding 0
	margin 0
	color #444
	-webkit-font-smoothing antialiased
	-moz-font-smoothing antialiased
	-ms-font-smoothing antialiase
	-o-font-smoothing antialiased

.wrapper
	height auto !important
	height 100%
	min-height 100%
	margin 0 auto -50px